.homecontainer{
	color: 	#2b2211;
	padding-bottom: 170px;
	.homebg{
		background-image: url("../../img/bgim.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 210px;
		position: absolute; 
		height: 180vh;
		width: 100vw;
		z-index: -5;
	}

	.homebg1{
		background-image: url("../../img/does.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 210px;
		position: absolute;
		top: 1150px; 
		height: 180vh;
		width: 100vw;
		z-index: -10;
	}

	.homebg2{
		background-image: url("../../img/doess.png");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 210px;
		position: absolute;
		top: 1950px; 
		height: 100vh;
		width: 100vw;
		z-index: -9;
	}

	.homebg3{
		background-image: url("../../img/erixbass.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 210px;
		position: absolute;
		top: 2300px; 
		height: 114vh;
		width: 100vw;
		z-index: -15;
	}

	.homebg4{
		background-image: url("../../img/bass.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin-top: 210px;
		position: absolute;
		top: 3150px; 
		height: 114vh;
		width: 100vw;
		z-index: -20;
	}

	.homecontainer{
		position: relative;
		top: 286px;
		.homearticle{
			background-color: rgba(43,34,17,0.6);
			width: 680px;
			height: 420px;
			margin-bottom: 80px;
			padding-top: 100px;
			position: relative;
			.mainarticle{
				color: white;
				position: absolute;
				right: 50px;
				width: 310px;
				h2{
					font-size: 60px;
				}
				h3{
					font-size: 25px;
				}
				p{
					font-size: 12px;
					text-align: left;
				}
				.p1{
					font-weight: 700;
					margin-top: 30px;
				}
				.p2{
					color: #f0e4cd;
					margin-top: 10px;
				}
				button{
					background-color: #f0e4cd;
					border: none;
					color: 	#2b2211;
					font-size: 10px;
					font-weight: 700;
					margin-top: 30px;
					outline: none;
					padding: 13px;
					position: absolute;
					right: 0px;
				}
			}
		}	
		.homenews{
			height: 600px;
			margin: 0 auto;
			max-width: 1366px;
			position: relative;
			.usefulinfo{
				background-color: #ffffff;
				color: #2b2211;
				height: 680px;
				width: 31%;
				float: left;
				position: absolute;
				left: 0px;
				top: 0px;
				.titlenews{
					color: 	#2b2211;
					font-size: 24px;
					font-weight: 700;
					padding: 50px 40px;
					.number{
						color: 	#2b2211;
						font-size: 40px;
						position: absolute;
						right: 40px;
						top: 40px;
					}
				}
				.mainnews{
					padding: 0px 40px;
					h2{
						color: 	#2b2211;
						font-size: 24px;
						margin-bottom: 50px;
					}
					p{
						color: #4f3828;
						font-size: 16px;
						margin-top: 30px;
					}
					button{
						background-color: transparent;
						border: none;
						color: #f0e4cd;
						outline: none;
						position: absolute;
						bottom: 30px;
						left: 30px;
						font-weight: 700;
						padding: 15px;
					}
					button:hover{color:#2b2211;}
				}
			}
			.freshphoto{
				background-color: white;
				height: 680px;
				width: 31%;
				margin: 0px auto;
				position: relative;
				.titlenews{
					color: #2b2211;
					font-size: 24px;
					font-weight: 700;
					padding: 50px 40px;
					position: relative;
					.number{
						color: #2b2211;
						font-size: 40px;
						position: absolute;
						right: 40px;
						top: 40px;
					}
				}
				.mainnews{
					min-height: 300px;
					.photonews{
						img{
							max-height: 400px;
							width: 100%;
						}
					}
				}
				.photodesc{
					background-color: #f0e4cd;
					color: 	#4f3828;
					font-size: 24px;
					font-weight: 700;
					height: 30px;
					padding: 10px 0px;
					text-align: center;
				}
				button{
					background-color: transparent;
					border: none;
					color: #f0e4cd;
					outline: none;
					position: absolute;
					bottom: 30px;
					left: 30px;
					font-weight: 700;
					padding: 15px;
				}
				button:hover{color:#2b2211;}
			}
			.popularmusic{
				background-color: white;
				color: #2b2211;
				height: 680px;
				width: 31%;
				float: left;
				position: absolute;
				right: 0px;
				top: 0px;
				.titlenews{
					font-size: 24px;
					font-weight: 700;
					padding: 50px 40px;
					.number{
						font-size: 40px;
						position: absolute;
						right: 40px;
						top: 40px;
					}
				}
				.mainnews{
					ul{
						margin: 0 auto;
						width: 80%;
						li{
							color: 	#4f3828;
							font-size: 14px;
							font-weight: 700;
							list-style: none; 
							padding: 15px 0px;
							padding-left: 20px;
							// text-align: center;
						}
						li:hover{
							background-color: #f0e4cd;
						}
					}
				}
			}
		}
		.homemusic{
			height: 540px;
			margin: 0 auto;
			position: relative;
			top: 164px;
			max-width: 1400px;
			.album{
				box-sizing: border-box;
				height: 400px;
				width: 200px;
				float: left;
				margin: 0px;
				padding: 20px;
				position: relative;
				top: 70px;
				.contentalbum{
					// background-color: yellow;
					height: 200px;
					img{
						height: 200px;
						width: 160px;
					}
				}
				.titlealbum{
					color: #b28c5e;
					font-weight: 700;
					margin-top: 20px;
					text-align: center;
				}
				button{
					background-color: transparent;
					border: 1px dotted #b28c5e;
					color: #b28c5e;
					font-weight: 700;
					height: 30px;
					margin: 20px 50px;
					outline: none;
					width: 60px;
				}
			}	
		}
		.homeevent{
			height: 966px;
			position: relative;
			top: 134px;
			.eventbox{
				background-color: rgba(43,34,17,0.6);
				box-sizing: border-box;
				color: white;
				float: right;
				height: 700px;
				margin-bottom: 50px;
				margin-top: 133px;
				padding-left: 130px;
				padding-top: 80px;
				width: 950px;
				h2{
					color: #b28c5e;
					margin-bottom: 50px;
				}
				.gigs{
					height: 100px;
					width: 100%;
					margin-top: 20px;
					.eventdate{
						background-color: rgba(43,34,17,0.5);
						box-sizing: border-box;
						color: #b28c5e;
						float: left;
						height: 100px;
						padding-top: 13px;
						text-align: center;
						width: 100px;
						.date{
							font-size: 30px;
						}
						.month{
							font-size: 10px;
							font-weight: 600;
						}
						.year{
							font-size: 20px;
							font-weight: 700;
						}
					}
					.event{
						background-color: #f0e4cd;
						box-sizing: border-box;
						color: #b28c5e;
						float: left;
						font-size: 13px;
						height: 100px;
						padding: 15px;
						width: 350px;
						.titleevent{
							font-size: 14px;
							font-weight: 700;
							letter-spacing: 1.5px;
							margin-bottom: 10px;
						}
						.descevent{
							letter-spacing: 1px;
						}
					}
				}
			}	
		}
		.homevideo{
			height: 485px;
			position: relative;
			top: 134px;
			.videobox{
				height: 150px;
				position: relative;
				top: 270px;
				left: 200px;
				width: 480px;
				h1{
					color: #f0e4cd;
					font-size: 40px;
				}
				p{
					color: #b28c5e;
					letter-spacing: 1px;
					margin-top: 20px;
				}
			}	
			button{
				background-color: #f0e4cd;
				border: none;
				color: #b28c5e;
				font-size: 10px;
				font-weight: 700;
				outline: none;
				padding: 10px 13px;
				position: relative;
				top: 235px;
				left: 570px;
			}
		}
		.homebio{
			display: block;
			color: white;
			box-sizing: border-box;
			height: 847px;
			margin: 0 auto;
			// margin-bottom: 1000px;
			max-width: 1366px;
			padding: 70px;
			position: relative;
			top: 135px;
			width: 800px;
			text-align: center;
			h1{
				color: #f0e4cd;
				font-weight: 700;
				margin-top: 80px;
			}
			p{
				color: #b28c5e; 
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				margin-top: 30px;
			}
		}
	}
}