*{
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.wraplogin{
	.form{
		color: white;
		margin-top: 130px;
		position: absolute;
		left: 34%;
		z-index: 5;
		height: 750px;
		width: 600px;
		h1{
			font-size: 35px;
			margin-bottom: 50px;
		}
		h2{
			font-size: 70px;
			letter-spacing: 3px;
		}
		hr{
			border: 4px solid;
			font-size: 50px;
			margin-top: 50px;
			position: relative;
			left: 100px;
			width: 170px;
		}
		.formname{
			margin-top: 80px;
			overflow: hidden;
			.fa{
				font-size: 40px;
				position: relative;
				top: 55px;
			}
			textarea{
				background-color: transparent;
				border: none;
				border-bottom: 1px solid white;
				color: white;
				font-size: 50px;
				letter-spacing: 5px;
				max-height: 30px;
				max-width: 530px;
				margin: 10px 0px;
				padding: 14px 70px;
				outline: none;
			}
		}
		.formpassword{
			overflow: hidden;
			.fa{
				font-size: 50px;
				position: relative;
				top: 75px;
			}
			textarea{
				-webkit-text-security: circle;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid white;
				color: white;
				font-size: 60px;
				letter-spacing: 10px;
				max-height: 50px;
				max-width: 530px;
				padding: 10px 70px;
				outline: none;
				margin: 10px 0px;
				resize: none;
			}
		}
		.buttonlogin{
			margin-top: 20px;
			button{
				background-color: transparent;
				border: 3px solid #00E676;
				color: white;
				font-size: 25px;
				font-weight: 700;
				height: 50px;
				letter-spacing: 2px;
				width: 600px;
			}
		}
		.signupnow{
			font-size: 14px;
			font-weight: 600;
			display: inline-block;
			position: absolute;
			bottom : 0px;
			left : 0px;
			a{
				color: white;
				text-decoration: none;
				&:hover{
					color: #00E676;
				}
			}
		}
		.forgotpassword{
			font-size: 14px;
			font-weight: 600;
			display: inline-block;
			position: absolute;
			bottom : 0px;
			right : 0px;
			a{
				color: white;
				text-decoration: none;
				&:hover{
					color: #00E676;
				}
			}
		}
	}

	.loginpage{
		background-image: url("../../img/erix.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		-webkit-filter: grayscale(90%) contrast(140%) brightness(15%); /* Safari 6.0 - 9.0 */
	    filter: grayscale(90%) contrast(140%) brightness(15%);
		margin: 0 auto;
		height: 100vh;
		width: 100vh;
	}
}

label.error{
    color:red;
    font-weight: 100;
    font-size:23px;
    margin-bottom:0;
}