*{
	margin: 0;
	padding: 0;
	overflow-y: visible;
}


#formregister{
		margin-top: 50px;
		position: absolute;
		left: 35%;
		z-index: 5;
		// height: 100%;
		width: 600px;
		h1{
			color: white;
			font-size: 40px;
			text-align: center;
		}
		label{
			color: #b2b2b2;
			font-size: 18px;
			font-weight: 700;
		}
		textarea, select, input{
			background-color: transparent;
			border: none;
			border-bottom: 1px solid white;
			color: white;
			font-size: 25px;
			margin-bottom: 10px;
			min-height: 30px;
			min-width: 600px;
			outline: none;
			overflow: hidden;
			padding: 10px 0px 15px 0px;
			resize: none;
		}
		textarea{max-height: 30px; max-width: 600px;}
		option{
			background-color: rgba(0,0,0,0.1);
			color: #b2b2b2;
		}
		select:focus{
			background-color: transparent;
			background-color: rgba(0,0,0,0.6);
		}
		select, input {
		   -webkit-appearance: none;
		   -moz-appearance: none;
		   appearance: none;
		   overflow-y: hidden !important;
		}
		#registerpassword{
			-webkit-text-security: circle;
			// font-size: 40px;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: white;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: white;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: white;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: white;
		}
	.buttonregistration{
		margin-top: 10px;
		button{
			background-color: transparent;
			border: 3px solid #00E676;
			color: white;
			font-size: 25px;
			font-weight: 700;
			height: 50px;
			letter-spacing: 2px;
			margin-bottom: 200px;
			margin-top: 50px;
			width: 600px;
		}
	}
}



.registerpage{
	background-image: url("../../img/registrasi.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 10%;
	// -webkit-filter: grayscale(0%) contrast(140%) brightness(15%);
	// filter: grayscale(0%) contrast(140%) brightness(15%);
	filter: blur(2px) brightness(65%) contrast(80%) grayscale(0%);
	opacity: 0.7;
	margin: 0 auto;
	height: 100vh;
	width: 100vh;
	position: fixed;
	left: 25%;	
}

.hide {display: none !important;}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; 
}

label#name-error,label#email-error,label#registerpassword-error,label#address\[province_id\]-error,label#address\[city_id\]-error,label#passion\[id_passion\]-error,label#address\[street\]-error,label#date_birth-error,label#profession-error,label#phone-error{
	color: red;	
	font-size: 12px;
}
