.wrapprofiledetail{
		background-color: #4f3828;
		border-radius: 20px;
		box-sizing: border-box;
		height: auto;
		max-width: 1366px;
		margin: 0 auto;
		margin-top: 286px;
		margin-bottom: 30px;
		position: relative;
		padding: 50px 100px;
	.wrapprofileuserresult{
		background-color: #f0e4cd;
		border-radius: 10px;
		box-sizing: border-box;
		min-height: 800px;
		position: relative;
		.profileheader{
			color: #2b2211;
			font-size: 16px;
			font-weight: 700;
			padding: 25px 0px;
			padding-bottom: 40px;
			height: 25px;
			line-height: 10px;
			margin: 0 auto;
			width: 1050px;
			position: relative;
			.logoprofile{
				height:  25px;
				display: inline-block;
				margin-right: 70px; 
				img{
					height: 30px;
					width: 120px;
					position: relative;
					top: 10px;
					left: 0px;
				}
			}
			.fa-search{
				position: relative;
				left: 25px;
			}
			form{
				display: inline;
			}
			.searchprofile{
				background-color: #f0e4cd;
				border: 1px solid #2b2211;
				color: 	#4f3828;
				font-size: 16px;
				font-weight: 700;
				display: inline-block;
				outline: none;
				padding-left: 30px;
				height: 25px;
				margin-right: 100px; 
				width: 200px;
			}
			button{
				outline: none;
			}
			.findpeople{
				display: inline-block;
				margin-right: 50px;
			}
			.messsage{
				display: inline-block;
				margin-right: 10px;
			}
			.countmessage{
				background-color: #b28c5e;
				border-radius: 5px;
				display: inline-block;
				margin-right: 50px;
				padding: 7px;
			}
			.mycontact{
				display: inline-block;
				margin-right: 50px;
			}
			.iconprofile{
				display: inline-block;
				img{
					border-radius: 50px;
					height: 50px;
					width: 50px;
					position: absolute;
					top: 15px;
					right: 0px;
				}
			}
		}
		hr{
			display: block;
		    height: 1px;
		    border: 0;
		    border-top: 1px solid #b28c5e;
		    margin: 1em 0;
		    padding: 0; 
		}
		.wrapprofileresult{
			position: relative;
			padding: 0px 50px;
			.profileuserresult{
				display: inline-block;
				height: auto;
				width: 300px;
				position: absolute;
				top: 20px;
				.profilepicture{
					img{
						background-color: #b28c5e;
						height: 275px;
						width: 275px;
					}
				}
				.titlework, .titleskill{
					display: inline-block;
					color: 	#b28c5e;
					font-size: 12px;
					font-weight: 700;
					margin-top: 20px;
					margin-bottom: 10px;
					letter-spacing: 1px;
				}
				hr{
					display: inline-block;
				    height: 1px;
				    border: 0;
				    border-top: 1px solid #b28c5e;
				    margin: 1em 0;
				    padding: 0;
				    width: 80%;
				    position: relative;
				    top: 12px;
				}
				.profilework{
					position: relative;
					margin-bottom: 10px;
					button{
						background-color: #4f3828;
						color: #f0e4cd;
						font-size: 12px;
						font-weight: 700;
						border: none;
						outline: none;
						padding: 3px 7px;
						position: absolute;
						top: 0px;
						right: 25px;
					}
					.companyname{
						h3{
							color: #2b2211;
							margin: 7px 0px;
							letter-spacing: 1.5px;
						}
					}
					.companyaddress{
						color: #b28c5e;
						font-size: 12px;
						font-weight: 600;
					}
				}
				.profileskill{
					input{
						background-color: transparent;
						border: none;
						color: #2b2211;
						outline: none;
						font-weight: 700;
						margin: 3px 0px;
					}
				}
			}
			.profiledetailresult{
				box-sizing: border-box;
				display: inline-block;
				height: 600px;
				width: 600px;
				padding: 0px 20px;
				position: absolute;
				top: 20px;
				left: 350px;
				.maindetailresult{
					height: 230px;
					.profiledetailname{
						display: inline-block;
						color: #2b2211;
						font-size: 24px;
						font-weight: 700;
						margin-right: 15px;
					}
					.fa-map-marker{
						color: #2b2211;
						display: inline-block;
						margin-right: 3px;
					}
					.profiledetailcity{
						color: #b28c5e;
						font-size: 10px;
						font-weight: 700;
						display: inline-block;
					}
					.profiledetailprofession{
						color: #2b2211;
						font-size: 12px;
						letter-spacing: 1px;
						margin-top: 5px;
						margin-bottom: 10px;
					}
					.profiledetailpassion{
						font-size: 10px;
						font-weight: 700;
						color: #b28c5e;
						h4{
							color: #2b2211;
							font-size: 14px;
							display: inline-block;
						}
					}
					button{
						background-color: transparent;
						color: #2b2211;
						font-size: 12px;
						font-weight: 700;
						padding: 8px 13px;
						position: relative;
						top: 100px;
						margin-right: 10px;
						outline: none;
						border: none;
						i{
							margin-right: 10px;
						}
					}
					button#contactprofile{
						color: #2b2211;
						background-color: #b28c5e;
					}
					button:hover{
						background-color: #b28c5e;
						color: #f0e4cd;
					}
				}
				.aboutdetailresult{
					button{
						background-color: transparent;
						font-size: 12px;
						font-weight: 700;
						padding: 8px 13px;
						margin-right: 10px;
						margin-bottom: 0px;
						outline: none;
						border: none;
						color: #b28c5e;
						i{
							margin-right: 10px;
						}
					}	
					button:focus{
						color: #2b2211;
					}
					hr{
						display: block;
					    height: 1px;
					    border: 0;
					    border-top: 1px solid #b28c5e;
					    margin: 0px;
					    margin-bottom: 20px;
					    padding: 0;
					    width: 100%;
					}
					h6{
						letter-spacing: 1px;
						color: #b28c5e;
						margin-bottom: 20px;
					}
					.profildetailephone{
						color: #4f3828;
						font-size: 12px;
						font-weight: 700;
						margin-bottom: 20px;
						h5{
							color: #2b2211;
							font-size: 12px;
							display: inline-block;
							position: relative;
							left: 111px;
						}
					}
					.profildetaileaddress{
						color: #4f3828;
						font-size: 12px;
						font-weight: 700;
						margin-bottom: 20px;
						h5{
							color: #2b2211;
							font-size: 12px;
							display: inline-block;
							position: relative;
							width: 200px;
							left: 100px;
						}
					}
					.profildetaileemail{
						color: #4f3828;
						font-size: 12px;
						font-weight: 700;
						margin-bottom: 50px;
						h5{
							color: #2b2211;
							font-size: 12px;
							display: inline-block;
							position: relative;
							left: 116px;
						}
					}
					.profildetailebirth{
						color: #4f3828;
						font-size: 12px;
						font-weight: 700;
						margin-bottom: 20px;
						h5{
							color: #2b2211;
							font-size: 12px;
							display: inline-block;
							position: relative;
							left: 100px;
						}
					}
					.profildetailegender{
						color: #4f3828;
						font-size: 12px;
						font-weight: 700;
						margin-bottom: 20px;
						h5{
							color: #2b2211;
							font-size: 12px;
							display: inline-block;
							position: relative;
							left: 103px;
						}
					}
				}
			}
		}
	}
}