.wrapuser{
	border-radius: 10px;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 150px;
	position: relative;
	max-width: 1366px;
	.searchuser{
			height: 30px;
			position: absolute;
			top: 20px;
			right: 50px;
		input{
			border-radius: 15px;
			font-size: 18px;
			font-weight: 700;
			margin-top: 0px;
			outline: none;
			padding-left: 30px;
			height: 30px;
		}
		button{
			display: none;
		}
	}
	h2{
		color: #4f3828;
		font-size: 30px;
		margin-bottom: 50px;
		text-align: center;
	}
	.detailuser{
		background-color: 	#f0e4cd;
		border-radius: 10px;
		box-sizing: border-box;
		cursor: pointer;
		color: #4f3828;
		display: inline-block;
		height: 300px;
		margin: 10px 19.2px;
		padding: 0px 20px;
		position: relative;
		left: 30px;
		width: 300px;
		img{
			filter: grayscale(90%) contrast(40%);
			-webkit-filter: grayscale(90%) contrast(40%);
			position: absolute;
			top: 10px;
			left: 10px;
			height: 280px;
			width: 280px;
			z-index: 1;
		}
		.wrapprofile{
			position: relative;
			top: 60px;
			z-index: 10;
			.nameuser{
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 2px;
				line-height: 150px;
			}
			.proffesionuser, .passionuser, .addressuser, .iduser {
				font-size: 16px;
				span{
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
	}	
}