@import "./scss/_login.scss";
@import "./scss/_register.scss";
@import "./scss/_home.scss";
@import "./scss/user.scss";
@import "./scss/searchuser.scss";

*{
	margin: 0;
	padding: 0;
	overflow-y: visible;
}
body {
	// max-width:1366px;
	background-color: #f0e4cd;
	margin:auto;
	min-height:100%;
	font: 14px "Nunito", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	position: relative;
}

a {
  	color: #00B7FF;
}

.wrapheader{
	background-size: 100%;
	width: 100vw;
	a{text-decoration: none;}
	.mainheader{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		background-color: #2b2211;
		height: auto;
		padding: 50px;
		z-index: 100;
		.maintitle{
			border: 1px solid #ffffff;
			height: auto;
			margin: 0 auto;
			max-width: 1366px;
			padding: 11px 0px;
			text-align: center;
			width: 120px;
			h1{
				color: #ffffff;
				font-size: 22px;
				margin-bottom: 10px;
			}
			h2{
				color: #f0e4cd;
				margin: 0px;
			}
		}
	}
}

.mainnavbar{
	background-color: transparent;
	height: auto;
	position: fixed;
	top: 210px;
	width: 100vw;
	z-index: 1000;
	ul#listMenu{
		max-width: 1366px;
		margin: 0 auto;
		padding-left: 50px; 
		li{
			display: inline-block;
			height: auto;
			width: auto;
			-webkit-transition: background-color 1s;
			transition: background-color 1s;
			a{
				color: #b28c5e; 
				font-weight: 700;
				padding: 30px 15px;
				position: relative;
				top: 30px;
				text-decoration: none;
			}
		}
		li:hover{
			a:hover{
				background-color: #b28c5e;
				color: #f0e4cd;
			}
		}
	}
	button{
		position: fixed;
		top: 15px;
		right: 15px;
	}
}

.homecontact{
	background-color: #2b2211;
	color: #f0e4cd;
	height: 100px;
	position: relative;
	.contactaddress{
		font-weight: 700;
		line-height: 25px;
		position: absolute;
		top: 27px;
		left: 180px;
		text-align: center;
	}
	.copyright{
		font-family: Serif;
		font-size: 12px;
		margin: 0 auto;
		position: relative;
		top: 55px;
		width: 220px;
	}
	.contactmedsos{
		.sosmed{
		  height: auto;
		  position: absolute;
		  bottom : 15px;
		  right : 300px; 
		}
		.wrapfb{
		  display: inline-block;
		  height: 60px;
		  width: 60px;
		  padding: 0;
		  .fb{
		    background-color: #f0e4cd;
		    display: block;
		    width: 40px;
		    height: 40px;
		    border-radius: 30px;
		    box-sizing: border-box;
		    margin: 20% auto;
		    &:hover{
				background-color: white;
		    }
		    img{
		      margin: 5.1px;
		    }
		  }
		}
		.wraptw{
		  display: inline-block;
		  height: 60px;
		  width: 60px;
		  padding: 0;
		  .tw{
		    background-color: #f0e4cd;
		    display: block;
		    width: 40px;
		    height: 40px;
		    border-radius: 30px;
		    box-sizing: border-box;
		    margin: 20% auto;
		    &:hover{
				background-color: white;
		    }
		    img{
		      margin: 5px;;
		    }
		  }
		}
		.wrappin{
		  display: inline-block;
		  height: 60px;
		  width: 60px;
		  padding: 0;
		  .pin{
		    background-color: #f0e4cd;
		    display: block;
		    width: 40px;
		    height: 40px;
		    border-radius: 30px;
		    box-sizing: border-box;
		    margin: 20% auto;
		    &:hover{
				background-color: white;
		    }
		    img{
		      margin: 5px;
		    }
		  }
		}
		.wrapig{
		  display: inline-block;
		  height: 60px;
		  width: 60px;
		  padding: 0;
		  .ig{
		    background-color: #f0e4cd;
		    display: block;
		    width: 40px;
		    height: 40px;
		    border-radius: 30px;
		    box-sizing: border-box;
		    margin: 20% auto;
		    &:hover{
				background-color: white;
		    }
		    img{
		      margin: 5px;
		    }
		  }
		}
	}
	.buttonhome{
		img{
			position: absolute;
		  	bottom : 17px;
		  	right : 100px; 
			height: 50px;
			width: 50px;
		}
	}	
}
#map{
	height:400px;
	background: #f0e4cd;
	position: relative;
}
