* {
  margin: 0;
  padding: 0;
  overflow-y: hidden; }

.wraplogin .form {
  color: white;
  margin-top: 130px;
  position: absolute;
  left: 34%;
  z-index: 5;
  height: 750px;
  width: 600px; }
  .wraplogin .form h1 {
    font-size: 35px;
    margin-bottom: 50px; }
  .wraplogin .form h2 {
    font-size: 70px;
    letter-spacing: 3px; }
  .wraplogin .form hr {
    border: 4px solid;
    font-size: 50px;
    margin-top: 50px;
    position: relative;
    left: 100px;
    width: 170px; }
  .wraplogin .form .formname {
    margin-top: 80px;
    overflow: hidden; }
    .wraplogin .form .formname .fa {
      font-size: 40px;
      position: relative;
      top: 55px; }
    .wraplogin .form .formname textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      font-size: 50px;
      letter-spacing: 5px;
      max-height: 30px;
      max-width: 530px;
      margin: 10px 0px;
      padding: 14px 70px;
      outline: none; }
  .wraplogin .form .formpassword {
    overflow: hidden; }
    .wraplogin .form .formpassword .fa {
      font-size: 50px;
      position: relative;
      top: 75px; }
    .wraplogin .form .formpassword textarea {
      -webkit-text-security: circle;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      color: white;
      font-size: 60px;
      letter-spacing: 10px;
      max-height: 50px;
      max-width: 530px;
      padding: 10px 70px;
      outline: none;
      margin: 10px 0px;
      resize: none; }
  .wraplogin .form .buttonlogin {
    margin-top: 20px; }
    .wraplogin .form .buttonlogin button {
      background-color: transparent;
      border: 3px solid #00E676;
      color: white;
      font-size: 25px;
      font-weight: 700;
      height: 50px;
      letter-spacing: 2px;
      width: 600px; }
  .wraplogin .form .signupnow {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px; }
    .wraplogin .form .signupnow a {
      color: white;
      text-decoration: none; }
      .wraplogin .form .signupnow a:hover {
        color: #00E676; }
  .wraplogin .form .forgotpassword {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px; }
    .wraplogin .form .forgotpassword a {
      color: white;
      text-decoration: none; }
      .wraplogin .form .forgotpassword a:hover {
        color: #00E676; }
.wraplogin .loginpage {
  background-image: url("../../img/erix.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(90%) contrast(140%) brightness(15%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(90%) contrast(140%) brightness(15%);
  margin: 0 auto;
  height: 100vh;
  width: 100vh; }

label.error {
  color: red;
  font-weight: 100;
  font-size: 23px;
  margin-bottom: 0; }

* {
  margin: 0;
  padding: 0;
  overflow-y: visible; }

#formregister {
  margin-top: 50px;
  position: absolute;
  left: 35%;
  z-index: 5;
  width: 600px; }
  #formregister h1 {
    color: white;
    font-size: 40px;
    text-align: center; }
  #formregister label {
    color: #b2b2b2;
    font-size: 18px;
    font-weight: 700; }
  #formregister textarea, #formregister select, #formregister input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    min-height: 30px;
    min-width: 600px;
    outline: none;
    overflow: hidden;
    padding: 10px 0px 15px 0px;
    resize: none; }
  #formregister textarea {
    max-height: 30px;
    max-width: 600px; }
  #formregister option {
    background-color: rgba(0, 0, 0, 0.1);
    color: #b2b2b2; }
  #formregister select:focus {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.6); }
  #formregister select, #formregister input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow-y: hidden !important; }
  #formregister #registerpassword {
    -webkit-text-security: circle; }
  #formregister ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white; }
  #formregister ::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  #formregister :-ms-input-placeholder {
    /* IE 10+ */
    color: white; }
  #formregister :-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  #formregister .buttonregistration {
    margin-top: 10px; }
    #formregister .buttonregistration button {
      background-color: transparent;
      border: 3px solid #00E676;
      color: white;
      font-size: 25px;
      font-weight: 700;
      height: 50px;
      letter-spacing: 2px;
      margin-bottom: 200px;
      margin-top: 50px;
      width: 600px; }

.registerpage {
  background-image: url("../../img/registrasi.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 10%;
  filter: blur(2px) brightness(65%) contrast(80%) grayscale(0%);
  opacity: 0.7;
  margin: 0 auto;
  height: 100vh;
  width: 100vh;
  position: fixed;
  left: 25%; }

.hide {
  display: none !important; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }

label#name-error, label#email-error, label#registerpassword-error, label#address\[province_id\]-error, label#address\[city_id\]-error, label#passion\[id_passion\]-error, label#address\[street\]-error, label#date_birth-error, label#profession-error, label#phone-error {
  color: red;
  font-size: 12px; }

.homecontainer {
  color: #2b2211;
  padding-bottom: 170px; }
  .homecontainer .homebg {
    background-image: url("../../img/bgim.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 210px;
    position: absolute;
    height: 180vh;
    width: 100vw;
    z-index: -5; }
  .homecontainer .homebg1 {
    background-image: url("../../img/does.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 210px;
    position: absolute;
    top: 1150px;
    height: 180vh;
    width: 100vw;
    z-index: -10; }
  .homecontainer .homebg2 {
    background-image: url("../../img/doess.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 210px;
    position: absolute;
    top: 1950px;
    height: 100vh;
    width: 100vw;
    z-index: -9; }
  .homecontainer .homebg3 {
    background-image: url("../../img/erixbass.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 210px;
    position: absolute;
    top: 2300px;
    height: 114vh;
    width: 100vw;
    z-index: -15; }
  .homecontainer .homebg4 {
    background-image: url("../../img/bass.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 210px;
    position: absolute;
    top: 3150px;
    height: 114vh;
    width: 100vw;
    z-index: -20; }
  .homecontainer .homecontainer {
    position: relative;
    top: 286px; }
    .homecontainer .homecontainer .homearticle {
      background-color: rgba(43, 34, 17, 0.6);
      width: 680px;
      height: 420px;
      margin-bottom: 80px;
      padding-top: 100px;
      position: relative; }
      .homecontainer .homecontainer .homearticle .mainarticle {
        color: white;
        position: absolute;
        right: 50px;
        width: 310px; }
        .homecontainer .homecontainer .homearticle .mainarticle h2 {
          font-size: 60px; }
        .homecontainer .homecontainer .homearticle .mainarticle h3 {
          font-size: 25px; }
        .homecontainer .homecontainer .homearticle .mainarticle p {
          font-size: 12px;
          text-align: left; }
        .homecontainer .homecontainer .homearticle .mainarticle .p1 {
          font-weight: 700;
          margin-top: 30px; }
        .homecontainer .homecontainer .homearticle .mainarticle .p2 {
          color: #f0e4cd;
          margin-top: 10px; }
        .homecontainer .homecontainer .homearticle .mainarticle button {
          background-color: #f0e4cd;
          border: none;
          color: #2b2211;
          font-size: 10px;
          font-weight: 700;
          margin-top: 30px;
          outline: none;
          padding: 13px;
          position: absolute;
          right: 0px; }
    .homecontainer .homecontainer .homenews {
      height: 600px;
      margin: 0 auto;
      max-width: 1366px;
      position: relative; }
      .homecontainer .homecontainer .homenews .usefulinfo {
        background-color: #ffffff;
        color: #2b2211;
        height: 680px;
        width: 31%;
        float: left;
        position: absolute;
        left: 0px;
        top: 0px; }
        .homecontainer .homecontainer .homenews .usefulinfo .titlenews {
          color: #2b2211;
          font-size: 24px;
          font-weight: 700;
          padding: 50px 40px; }
          .homecontainer .homecontainer .homenews .usefulinfo .titlenews .number {
            color: #2b2211;
            font-size: 40px;
            position: absolute;
            right: 40px;
            top: 40px; }
        .homecontainer .homecontainer .homenews .usefulinfo .mainnews {
          padding: 0px 40px; }
          .homecontainer .homecontainer .homenews .usefulinfo .mainnews h2 {
            color: #2b2211;
            font-size: 24px;
            margin-bottom: 50px; }
          .homecontainer .homecontainer .homenews .usefulinfo .mainnews p {
            color: #4f3828;
            font-size: 16px;
            margin-top: 30px; }
          .homecontainer .homecontainer .homenews .usefulinfo .mainnews button {
            background-color: transparent;
            border: none;
            color: #f0e4cd;
            outline: none;
            position: absolute;
            bottom: 30px;
            left: 30px;
            font-weight: 700;
            padding: 15px; }
          .homecontainer .homecontainer .homenews .usefulinfo .mainnews button:hover {
            color: #2b2211; }
      .homecontainer .homecontainer .homenews .freshphoto {
        background-color: white;
        height: 680px;
        width: 31%;
        margin: 0px auto;
        position: relative; }
        .homecontainer .homecontainer .homenews .freshphoto .titlenews {
          color: #2b2211;
          font-size: 24px;
          font-weight: 700;
          padding: 50px 40px;
          position: relative; }
          .homecontainer .homecontainer .homenews .freshphoto .titlenews .number {
            color: #2b2211;
            font-size: 40px;
            position: absolute;
            right: 40px;
            top: 40px; }
        .homecontainer .homecontainer .homenews .freshphoto .mainnews {
          min-height: 300px; }
          .homecontainer .homecontainer .homenews .freshphoto .mainnews .photonews img {
            max-height: 400px;
            width: 100%; }
        .homecontainer .homecontainer .homenews .freshphoto .photodesc {
          background-color: #f0e4cd;
          color: #4f3828;
          font-size: 24px;
          font-weight: 700;
          height: 30px;
          padding: 10px 0px;
          text-align: center; }
        .homecontainer .homecontainer .homenews .freshphoto button {
          background-color: transparent;
          border: none;
          color: #f0e4cd;
          outline: none;
          position: absolute;
          bottom: 30px;
          left: 30px;
          font-weight: 700;
          padding: 15px; }
        .homecontainer .homecontainer .homenews .freshphoto button:hover {
          color: #2b2211; }
      .homecontainer .homecontainer .homenews .popularmusic {
        background-color: white;
        color: #2b2211;
        height: 680px;
        width: 31%;
        float: left;
        position: absolute;
        right: 0px;
        top: 0px; }
        .homecontainer .homecontainer .homenews .popularmusic .titlenews {
          font-size: 24px;
          font-weight: 700;
          padding: 50px 40px; }
          .homecontainer .homecontainer .homenews .popularmusic .titlenews .number {
            font-size: 40px;
            position: absolute;
            right: 40px;
            top: 40px; }
        .homecontainer .homecontainer .homenews .popularmusic .mainnews ul {
          margin: 0 auto;
          width: 80%; }
          .homecontainer .homecontainer .homenews .popularmusic .mainnews ul li {
            color: #4f3828;
            font-size: 14px;
            font-weight: 700;
            list-style: none;
            padding: 15px 0px;
            padding-left: 20px; }
          .homecontainer .homecontainer .homenews .popularmusic .mainnews ul li:hover {
            background-color: #f0e4cd; }
    .homecontainer .homecontainer .homemusic {
      height: 540px;
      margin: 0 auto;
      position: relative;
      top: 164px;
      max-width: 1400px; }
      .homecontainer .homecontainer .homemusic .album {
        box-sizing: border-box;
        height: 400px;
        width: 200px;
        float: left;
        margin: 0px;
        padding: 20px;
        position: relative;
        top: 70px; }
        .homecontainer .homecontainer .homemusic .album .contentalbum {
          height: 200px; }
          .homecontainer .homecontainer .homemusic .album .contentalbum img {
            height: 200px;
            width: 160px; }
        .homecontainer .homecontainer .homemusic .album .titlealbum {
          color: #b28c5e;
          font-weight: 700;
          margin-top: 20px;
          text-align: center; }
        .homecontainer .homecontainer .homemusic .album button {
          background-color: transparent;
          border: 1px dotted #b28c5e;
          color: #b28c5e;
          font-weight: 700;
          height: 30px;
          margin: 20px 50px;
          outline: none;
          width: 60px; }
    .homecontainer .homecontainer .homeevent {
      height: 966px;
      position: relative;
      top: 134px; }
      .homecontainer .homecontainer .homeevent .eventbox {
        background-color: rgba(43, 34, 17, 0.6);
        box-sizing: border-box;
        color: white;
        float: right;
        height: 700px;
        margin-bottom: 50px;
        margin-top: 133px;
        padding-left: 130px;
        padding-top: 80px;
        width: 950px; }
        .homecontainer .homecontainer .homeevent .eventbox h2 {
          color: #b28c5e;
          margin-bottom: 50px; }
        .homecontainer .homecontainer .homeevent .eventbox .gigs {
          height: 100px;
          width: 100%;
          margin-top: 20px; }
          .homecontainer .homecontainer .homeevent .eventbox .gigs .eventdate {
            background-color: rgba(43, 34, 17, 0.5);
            box-sizing: border-box;
            color: #b28c5e;
            float: left;
            height: 100px;
            padding-top: 13px;
            text-align: center;
            width: 100px; }
            .homecontainer .homecontainer .homeevent .eventbox .gigs .eventdate .date {
              font-size: 30px; }
            .homecontainer .homecontainer .homeevent .eventbox .gigs .eventdate .month {
              font-size: 10px;
              font-weight: 600; }
            .homecontainer .homecontainer .homeevent .eventbox .gigs .eventdate .year {
              font-size: 20px;
              font-weight: 700; }
          .homecontainer .homecontainer .homeevent .eventbox .gigs .event {
            background-color: #f0e4cd;
            box-sizing: border-box;
            color: #b28c5e;
            float: left;
            font-size: 13px;
            height: 100px;
            padding: 15px;
            width: 350px; }
            .homecontainer .homecontainer .homeevent .eventbox .gigs .event .titleevent {
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 1.5px;
              margin-bottom: 10px; }
            .homecontainer .homecontainer .homeevent .eventbox .gigs .event .descevent {
              letter-spacing: 1px; }
    .homecontainer .homecontainer .homevideo {
      height: 485px;
      position: relative;
      top: 134px; }
      .homecontainer .homecontainer .homevideo .videobox {
        height: 150px;
        position: relative;
        top: 270px;
        left: 200px;
        width: 480px; }
        .homecontainer .homecontainer .homevideo .videobox h1 {
          color: #f0e4cd;
          font-size: 40px; }
        .homecontainer .homecontainer .homevideo .videobox p {
          color: #b28c5e;
          letter-spacing: 1px;
          margin-top: 20px; }
      .homecontainer .homecontainer .homevideo button {
        background-color: #f0e4cd;
        border: none;
        color: #b28c5e;
        font-size: 10px;
        font-weight: 700;
        outline: none;
        padding: 10px 13px;
        position: relative;
        top: 235px;
        left: 570px; }
    .homecontainer .homecontainer .homebio {
      display: block;
      color: white;
      box-sizing: border-box;
      height: 847px;
      margin: 0 auto;
      max-width: 1366px;
      padding: 70px;
      position: relative;
      top: 135px;
      width: 800px;
      text-align: center; }
      .homecontainer .homecontainer .homebio h1 {
        color: #f0e4cd;
        font-weight: 700;
        margin-top: 80px; }
      .homecontainer .homecontainer .homebio p {
        color: #b28c5e;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        margin-top: 30px; }

.wrapuser {
  border-radius: 10px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 150px;
  position: relative;
  max-width: 1366px; }
  .wrapuser .searchuser {
    height: 30px;
    position: absolute;
    top: 20px;
    right: 50px; }
    .wrapuser .searchuser input {
      border-radius: 15px;
      font-size: 18px;
      font-weight: 700;
      margin-top: 0px;
      outline: none;
      padding-left: 30px;
      height: 30px; }
    .wrapuser .searchuser button {
      display: none; }
  .wrapuser h2 {
    color: #4f3828;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center; }
  .wrapuser .detailuser {
    background-color: #f0e4cd;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #4f3828;
    display: inline-block;
    height: 300px;
    margin: 10px 19.2px;
    padding: 0px 20px;
    position: relative;
    left: 30px;
    width: 300px; }
    .wrapuser .detailuser img {
      filter: grayscale(90%) contrast(40%);
      -webkit-filter: grayscale(90%) contrast(40%);
      position: absolute;
      top: 10px;
      left: 10px;
      height: 280px;
      width: 280px;
      z-index: 1; }
    .wrapuser .detailuser .wrapprofile {
      position: relative;
      top: 60px;
      z-index: 10; }
      .wrapuser .detailuser .wrapprofile .nameuser {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 150px; }
      .wrapuser .detailuser .wrapprofile .proffesionuser, .wrapuser .detailuser .wrapprofile .passionuser, .wrapuser .detailuser .wrapprofile .addressuser, .wrapuser .detailuser .wrapprofile .iduser {
        font-size: 16px; }
        .wrapuser .detailuser .wrapprofile .proffesionuser span, .wrapuser .detailuser .wrapprofile .passionuser span, .wrapuser .detailuser .wrapprofile .addressuser span, .wrapuser .detailuser .wrapprofile .iduser span {
          font-size: 12px;
          font-weight: 700; }

.wrapprofiledetail {
  background-color: #4f3828;
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 286px;
  margin-bottom: 30px;
  position: relative;
  padding: 50px 100px; }
  .wrapprofiledetail .wrapprofileuserresult {
    background-color: #f0e4cd;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 800px;
    position: relative; }
    .wrapprofiledetail .wrapprofileuserresult .profileheader {
      color: #2b2211;
      font-size: 16px;
      font-weight: 700;
      padding: 25px 0px;
      padding-bottom: 40px;
      height: 25px;
      line-height: 10px;
      margin: 0 auto;
      width: 1050px;
      position: relative; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .logoprofile {
        height: 25px;
        display: inline-block;
        margin-right: 70px; }
        .wrapprofiledetail .wrapprofileuserresult .profileheader .logoprofile img {
          height: 30px;
          width: 120px;
          position: relative;
          top: 10px;
          left: 0px; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .fa-search {
        position: relative;
        left: 25px; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader form {
        display: inline; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .searchprofile {
        background-color: #f0e4cd;
        border: 1px solid #2b2211;
        color: #4f3828;
        font-size: 16px;
        font-weight: 700;
        display: inline-block;
        outline: none;
        padding-left: 30px;
        height: 25px;
        margin-right: 100px;
        width: 200px; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader button {
        outline: none; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .findpeople {
        display: inline-block;
        margin-right: 50px; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .messsage {
        display: inline-block;
        margin-right: 10px; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .countmessage {
        background-color: #b28c5e;
        border-radius: 5px;
        display: inline-block;
        margin-right: 50px;
        padding: 7px; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .mycontact {
        display: inline-block;
        margin-right: 50px; }
      .wrapprofiledetail .wrapprofileuserresult .profileheader .iconprofile {
        display: inline-block; }
        .wrapprofiledetail .wrapprofileuserresult .profileheader .iconprofile img {
          border-radius: 50px;
          height: 50px;
          width: 50px;
          position: absolute;
          top: 15px;
          right: 0px; }
    .wrapprofiledetail .wrapprofileuserresult hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #b28c5e;
      margin: 1em 0;
      padding: 0; }
    .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult {
      position: relative;
      padding: 0px 50px; }
      .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult {
        display: inline-block;
        height: auto;
        width: 300px;
        position: absolute;
        top: 20px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .profilepicture img {
          background-color: #b28c5e;
          height: 275px;
          width: 275px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .titlework, .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .titleskill {
          display: inline-block;
          color: #b28c5e;
          font-size: 12px;
          font-weight: 700;
          margin-top: 20px;
          margin-bottom: 10px;
          letter-spacing: 1px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult hr {
          display: inline-block;
          height: 1px;
          border: 0;
          border-top: 1px solid #b28c5e;
          margin: 1em 0;
          padding: 0;
          width: 80%;
          position: relative;
          top: 12px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .profilework {
          position: relative;
          margin-bottom: 10px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .profilework button {
            background-color: #4f3828;
            color: #f0e4cd;
            font-size: 12px;
            font-weight: 700;
            border: none;
            outline: none;
            padding: 3px 7px;
            position: absolute;
            top: 0px;
            right: 25px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .profilework .companyname h3 {
            color: #2b2211;
            margin: 7px 0px;
            letter-spacing: 1.5px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .profilework .companyaddress {
            color: #b28c5e;
            font-size: 12px;
            font-weight: 600; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profileuserresult .profileskill input {
          background-color: transparent;
          border: none;
          color: #2b2211;
          outline: none;
          font-weight: 700;
          margin: 3px 0px; }
      .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult {
        box-sizing: border-box;
        display: inline-block;
        height: 600px;
        width: 600px;
        padding: 0px 20px;
        position: absolute;
        top: 20px;
        left: 350px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult {
          height: 230px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult .profiledetailname {
            display: inline-block;
            color: #2b2211;
            font-size: 24px;
            font-weight: 700;
            margin-right: 15px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult .fa-map-marker {
            color: #2b2211;
            display: inline-block;
            margin-right: 3px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult .profiledetailcity {
            color: #b28c5e;
            font-size: 10px;
            font-weight: 700;
            display: inline-block; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult .profiledetailprofession {
            color: #2b2211;
            font-size: 12px;
            letter-spacing: 1px;
            margin-top: 5px;
            margin-bottom: 10px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult .profiledetailpassion {
            font-size: 10px;
            font-weight: 700;
            color: #b28c5e; }
            .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult .profiledetailpassion h4 {
              color: #2b2211;
              font-size: 14px;
              display: inline-block; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult button {
            background-color: transparent;
            color: #2b2211;
            font-size: 12px;
            font-weight: 700;
            padding: 8px 13px;
            position: relative;
            top: 100px;
            margin-right: 10px;
            outline: none;
            border: none; }
            .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult button i {
              margin-right: 10px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult button#contactprofile {
            color: #2b2211;
            background-color: #b28c5e; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .maindetailresult button:hover {
            background-color: #b28c5e;
            color: #f0e4cd; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult button {
          background-color: transparent;
          font-size: 12px;
          font-weight: 700;
          padding: 8px 13px;
          margin-right: 10px;
          margin-bottom: 0px;
          outline: none;
          border: none;
          color: #b28c5e; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult button i {
            margin-right: 10px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult button:focus {
          color: #2b2211; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #b28c5e;
          margin: 0px;
          margin-bottom: 20px;
          padding: 0;
          width: 100%; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult h6 {
          letter-spacing: 1px;
          color: #b28c5e;
          margin-bottom: 20px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetailephone {
          color: #4f3828;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetailephone h5 {
            color: #2b2211;
            font-size: 12px;
            display: inline-block;
            position: relative;
            left: 111px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetaileaddress {
          color: #4f3828;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetaileaddress h5 {
            color: #2b2211;
            font-size: 12px;
            display: inline-block;
            position: relative;
            width: 200px;
            left: 100px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetaileemail {
          color: #4f3828;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 50px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetaileemail h5 {
            color: #2b2211;
            font-size: 12px;
            display: inline-block;
            position: relative;
            left: 116px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetailebirth {
          color: #4f3828;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetailebirth h5 {
            color: #2b2211;
            font-size: 12px;
            display: inline-block;
            position: relative;
            left: 100px; }
        .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetailegender {
          color: #4f3828;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 20px; }
          .wrapprofiledetail .wrapprofileuserresult .wrapprofileresult .profiledetailresult .aboutdetailresult .profildetailegender h5 {
            color: #2b2211;
            font-size: 12px;
            display: inline-block;
            position: relative;
            left: 103px; }

* {
  margin: 0;
  padding: 0;
  overflow-y: visible; }

body {
  background-color: #f0e4cd;
  margin: auto;
  min-height: 100%;
  font: 14px "Nunito", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  position: relative; }

a {
  color: #00B7FF; }

.wrapheader {
  background-size: 100%;
  width: 100vw; }
  .wrapheader a {
    text-decoration: none; }
  .wrapheader .mainheader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #2b2211;
    height: auto;
    padding: 50px;
    z-index: 100; }
    .wrapheader .mainheader .maintitle {
      border: 1px solid #ffffff;
      height: auto;
      margin: 0 auto;
      max-width: 1366px;
      padding: 11px 0px;
      text-align: center;
      width: 120px; }
      .wrapheader .mainheader .maintitle h1 {
        color: #ffffff;
        font-size: 22px;
        margin-bottom: 10px; }
      .wrapheader .mainheader .maintitle h2 {
        color: #f0e4cd;
        margin: 0px; }

.mainnavbar {
  background-color: transparent;
  height: auto;
  position: fixed;
  top: 210px;
  width: 100vw;
  z-index: 1000; }
  .mainnavbar ul#listMenu {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 50px; }
    .mainnavbar ul#listMenu li {
      display: inline-block;
      height: auto;
      width: auto;
      -webkit-transition: background-color 1s;
      transition: background-color 1s; }
      .mainnavbar ul#listMenu li a {
        color: #b28c5e;
        font-weight: 700;
        padding: 30px 15px;
        position: relative;
        top: 30px;
        text-decoration: none; }
    .mainnavbar ul#listMenu li:hover a:hover {
      background-color: #b28c5e;
      color: #f0e4cd; }
  .mainnavbar button {
    position: fixed;
    top: 15px;
    right: 15px; }

.homecontact {
  background-color: #2b2211;
  color: #f0e4cd;
  height: 100px;
  position: relative; }
  .homecontact .contactaddress {
    font-weight: 700;
    line-height: 25px;
    position: absolute;
    top: 27px;
    left: 180px;
    text-align: center; }
  .homecontact .copyright {
    font-family: Serif;
    font-size: 12px;
    margin: 0 auto;
    position: relative;
    top: 55px;
    width: 220px; }
  .homecontact .contactmedsos .sosmed {
    height: auto;
    position: absolute;
    bottom: 15px;
    right: 300px; }
  .homecontact .contactmedsos .wrapfb {
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 0; }
    .homecontact .contactmedsos .wrapfb .fb {
      background-color: #f0e4cd;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      box-sizing: border-box;
      margin: 20% auto; }
      .homecontact .contactmedsos .wrapfb .fb:hover {
        background-color: white; }
      .homecontact .contactmedsos .wrapfb .fb img {
        margin: 5.1px; }
  .homecontact .contactmedsos .wraptw {
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 0; }
    .homecontact .contactmedsos .wraptw .tw {
      background-color: #f0e4cd;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      box-sizing: border-box;
      margin: 20% auto; }
      .homecontact .contactmedsos .wraptw .tw:hover {
        background-color: white; }
      .homecontact .contactmedsos .wraptw .tw img {
        margin: 5px; }
  .homecontact .contactmedsos .wrappin {
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 0; }
    .homecontact .contactmedsos .wrappin .pin {
      background-color: #f0e4cd;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      box-sizing: border-box;
      margin: 20% auto; }
      .homecontact .contactmedsos .wrappin .pin:hover {
        background-color: white; }
      .homecontact .contactmedsos .wrappin .pin img {
        margin: 5px; }
  .homecontact .contactmedsos .wrapig {
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 0; }
    .homecontact .contactmedsos .wrapig .ig {
      background-color: #f0e4cd;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      box-sizing: border-box;
      margin: 20% auto; }
      .homecontact .contactmedsos .wrapig .ig:hover {
        background-color: white; }
      .homecontact .contactmedsos .wrapig .ig img {
        margin: 5px; }
  .homecontact .buttonhome img {
    position: absolute;
    bottom: 17px;
    right: 100px;
    height: 50px;
    width: 50px; }

#map {
  height: 400px;
  background: #f0e4cd;
  position: relative; }

/*# sourceMappingURL=style.css.map */
