<div class="homecontainer">
	<div class="homebg"></div>
	<div class="homebg1"></div>
	<div class="homebg2"></div>
	<div class="homebg3"></div>
	<div class="homebg4"></div>
	<div class="homecontainer">
		<div class="homearticle">
			<div class="mainarticle">
				<h2>THE SOUL</h2>
				<h3>THAT ARE BORN IN MY DREAM</h3>
				<p class="p1">"Your comfort zone is a place where you keep yourself in a self-illusion and nothing can grow there but your potentiality can grow only when you can think and grow out of that zone."</p>
				<p class="p2">“If you are not EXCITED enough at your present life its mean your future is not EXITING. Excitement will give you ENTHUSIASM and enthusiasm will give you a positive energetic LIFE STYLE which could give you a successful exiting life…” <br>- Rashedur Ryan Rahman</p>
				<button type="submit">READ MORE</button>
			</div>
		</div>
		<div class="homenews">
			<div class="usefulinfo">
				<div class="titlenews">
					USEFUL INFO
				<div class="number">01</div>
				</div>
				<div class="mainnews">
					<h2>“Every child is an artist, the problem is staying an artist when you grow up” – Pablo Picasso</h2>
					<p>"Give yourself a great self-respect to know who you are then your confidence will shine on you."</p>
					<p>“Your every positive action in your life will increase your self-esteem and this self-esteem will boost you for more positive action to take you on success.” </p>
					<p>“when you become addict in to MATERIAL things in life then the TRUE natural life start to run away from you, YES! it's can give you certain pleasure in the society but in the same time it will sabotage your true HAPPINESS of life which we could have simply with GRATITUDE and FORGIVENESS” </p>
					<button type="submit">READ MORE</button>
				</div>
			</div>
			<div class="freshphoto">
				<div class="titlenews">
					FRESH PHOTOS
				<div class="number">02</div>
				</div>
				<div class="mainnews">
					<div class="photonews">
						<img src="/../img/registrasi.jpg" alt="Erix Soekamti">
					</div>
					<div class="photodesc">Erix Soekamti Pamer Otot</div>
					<button type="submit">VIEW ALL</button>
				</div>
			</div>
			<div class="popularmusic">
				<div class="titlenews">
					POPULAR MUSIC
				<div class="number">03</div>
				</div>
				<div class="mainnews">
					<ul>
						<li>SALAM INDONESIA.MP3</li>
						<li>SAMPAI JUMPA.MP3</li>
						<li>MALING KONDANG.MP3</li>
						<li>GILA SENDIRI.MP3</li>
						<li>COBA LAGI.MP3</li>
						<li>IN THE HOY.MP3</li>
						<li>TERIMA KASIH.MP3</li>
						<li>AKU NGGAK PULANG.MP3</li>
						<li>HEAVY BIRTHDAY.MP3</li>
						<li>RAYUAN PULAU KELAPA.MP3</li>
					</ul>
				</div>
			</div>		
		</div>
		<div class="homemusic">
			<div class="album">
				<div class="contentalbum">
					<img src="/../img/soekamtiday.jpg" alt="">
				</div>
				<div class="titlealbum">SOEKAMTI DAY<br>2016</div>
				<button type="submit">MORE</button>
			</div>
			<div class="album">
				<div class="contentalbum">
					<img src="/../img/kolaborasoe.jpg" alt="">
				</div>
				<div class="titlealbum">KOLABORASOE<br>2014</div>
				<button type="submit">MORE</button>
			</div>
			<div class="album">
				<div class="contentalbum">
					<img src="/../img/angka8.jpg" alt="">
				</div>
				<div class="titlealbum">ANGKA 8<br>2012</div>
				<button type="submit">MORE</button>
			</div>
			<div class="album">
				<div class="contentalbum">
					<img src="/../img/soekamticom.jpg" alt="">
				</div>
				<div class="titlealbum">SOEKAMTI.COM<br>2010</div>
				<button type="submit">MORE</button>
			</div>
			<div class="album">
				<div class="contentalbum">
					<img src="/../img/ssttt.jpg" alt="">
				</div>
				<div class="titlealbum">Sssttt...<br>2007</div>
				<button type="submit">MORE</button>
			</div>
			<div class="album">
				<div class="contentalbum">
					<img src="/../img/pejantan-tambun.jpg" alt="">
				</div>
				<div class="titlealbum">PEJANTAN TAMBUN<br>2004</div>
				<button type="submit">MORE</button>
			</div>
			<div class="album">
				<div class="contentalbum">
					<img src="/../img/kelas1.jpg" alt="">
				</div>
				<div class="titlealbum">KELAS 1<br>2003</div>
				<button type="submit">MORE</button>
			</div>
		</div>
		<div class="homeevent">
			<div class="eventbox">
				<h2>NEWS & EVENT</h2>
				<div class="gigs">
					<div class="eventdate">
						<div class="date">10</div>
						<div class="month">SEPTEMBER</div>
						<div class="year">2017</div>
					</div>
					<div class="event">
						<div class="titleevent">SOEKAMTI DAY on BALI</div>
						<div class="descevent">"Ayo kumpul, keluarga di Soekamti Day. Hari yang indah, kutunggu-tunggu, sudah saatnya kita kumpul."</div>
					</div>
				</div>
				<div class="gigs">
					<div class="eventdate">
						<div class="date">16</div>
						<div class="month">SEPTEMBER</div>
						<div class="year">2017</div>
					</div>
					<div class="event">
						<div class="titleevent">SOEKAMTI DAY on SEMARANG</div>
						<div class="descevent">"Ayo kumpul, keluarga di Soekamti Day. Hari yang indah, kutunggu-tunggu, sudah saatnya kita kumpul."</div>
					</div>
				</div>
				<div class="gigs">
					<div class="eventdate">
						<div class="date">23</div>
						<div class="month">SEPTEMBER</div>
						<div class="year">2017</div>
					</div>
					<div class="event">
						<div class="titleevent">SOEKAMTI DAY on PALEMBANG</div>
						<div class="descevent">"Ayo kumpul, keluarga di Soekamti Day. Hari yang indah, kutunggu-tunggu, sudah saatnya kita kumpul."</div>
					</div>
				</div>
				<div class="gigs">
					<div class="eventdate">
						<div class="date">30</div>
						<div class="month">SEPTEMBER</div>
						<div class="year">2017</div>
					</div>
					<div class="event">
						<div class="titleevent">SOEKAMTI DAY on YOGYAKARTA</div>
						<div class="descevent">"Ayo kumpul, keluarga di Soekamti Day. Hari yang indah, kutunggu-tunggu, sudah saatnya kita kumpul."</div>
					</div>
				</div>
			</div>
		</div>
		<div class="homevideo">
			<div class="videobox">
					<h1>VIDEO BACKGROUND</h1>
					<p>“We sometimes take photos (or record a video) so that we can later see what was happening while we were busy taking photos."</p>
			</div>
			<button type="submit">VIEW MORE</button>
		</div>
		<div class="homebio">
			{{!-- <div class="biobox"> --}}
				<h1>MY BIO</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, neque.</p>
				<h1>2009 - 2015</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic aliquid vel unde, ipsa dignissimos deleniti tenetur, eius alias non ex impedit? Laboriosam, commodi iste maiores, totam repudiandae officia sit officiis quod sapiente deserunt quae! Ipsam adipisci placeat inventore animi hic ab molestias accusantium est, nihil, non ex recusandae unde cupiditate! ipsum dolor sit amet, consectetur adipisicing elit. Quia, neque.</p>
				<h1>MY BIO</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, assumenda cum voluptatum eius error alias iste molestias numquam sed quia inventore cumque soluta at. Tempora fugit, delectus. Consequatur voluptatibus, deserunt? ipsum dolor sit amet, consectetur adipisicing elit. Quia, neque.</p>
			{{!-- </div> --}}
		</div>
	</div>
</div>


