<div class="wraplogin">
	<div class="form">
		<span><h1>ErixSoekamti.Com</h1></span>		
		<h2>Login</h2>
		<hr>
		<form id="formlogin">
			<div class="formname">
				<span><i class="fa fa-user-circle-o" aria-hidden="true"></i>
				<textarea id="name" name="name" cols="1000" rows="2" required></textarea>
			</div>
			<div class="formpassword">
				<i class="fa fa-unlock-alt" aria-hidden="true"></i>
				<textarea id="password" name="password" cols="1000" rows="2" required></textarea>
			</div>
			<div class="buttonlogin">
				<button id="loginsubmit" type="button" class="loginnow">LOGIN NOW</button>
			</div>
			<div class="signupnow">
				<a href="/register">SIGNUP NOW</a>
			</div>
			<div class="forgotpassword">
				<a href="/forgotpassword">Forgot password?</a>
			</div>
		</form>
	</div>

	<div class="loginpage">
	</div>
</div>
