<div class="container">
	{{!-- <div class="wrapper"> --}}
		<form id="formregister" class="keong">
				<h1>Register</h1>
				<label class="registration-name">NAMA</label><br>
				<textarea class="username" id="name" name="name" type="text" placeholder="Username" cols="100" rows="1" onchange="validasi()" required></textarea><br>
				<label class="registration-address">ALAMAT</label><br>
				<textarea class="jalan" name="address[street]" type="text" placeholder="Jalan" cols="100" rows="1" required></textarea><br>
				{{!-- https://id.wikipedia.org/wiki/Daftar_kota_di_Indonesia_menurut_provinsi --}}
				<label class="registration-city">KOTA</label><br>
				<select class="kota" name="address[city_id]" required>
					<option value="">Nama Kota</option>
					<option value="1">Banda Aceh</option>
					<option value="2">Langsa</option>
					<option value="3">Lhokseumawe</option>
					<option value="4">Meulaboh</option>
					<option value="5">Sabang</option>		
					<option value="6">Subulussalam</option>
					<option value="7">Denpasar</option>
					<option value="8">Pangkalpinang</option>
					<option value="9">Cilegon</option>
					<option value="10">Serang</option>
					<option value="11">Bengkulu</option>
					<option value="12">Tangerang Selatan</option>
					<option value="13">Tangerang</option>
					<option value="14">Gorontalo</option>
					<option value="15">Jakarta Barat</option>
					<option value="16">Jakarta Pusat</option>
					<option value="17">Jakarta Selatan</option>
					<option value="18">Jakarta Timur</option>
					<option value="19">Jakarta Utara</option>
					<option value="20">Sungai Penuh</option>
					<option value="21">Jambi</option>
					<option value="22">Bandung</option>
					<option value="23">Bekasi</option>
					<option value="24">Bogor</option>
					<option value="25">Cimahi</option>
					<option value="26">Cirebon</option>
					<option value="27">Depok</option>
					<option value="28">Sukabumi</option>
					<option value="29">Tasikmalaya</option>
					<option value="30">Banjar</option>
					<option value="31">Magelang</option>
					<option value="32">Pekalongan</option>
					<option value="33">Purwokerto</option>
					<option value="34">Salatiga</option>
					<option value="35">Semarang</option>
					<option value="36">Surakarta</option>
					<option value="37">Tegal</option>
					<option value="38">Batu</option>
					<option value="39">Blitar</option>
					<option value="40">Kediri</option>
					<option value="41">Madiun</option>
					<option value="42">Malang</option>
					<option value="43">Mojokerto</option>
					<option value="44">Pasuruan</option>
					<option value="45">Probolinggo</option>
					<option value="46">Surabaya</option>
					<option value="47">Pontianak</option>
					<option value="48">Singkawang</option>
					<option value="49">Banjarbaru</option>
					<option value="50">Banjarmasin</option>
					<option value="51">Palangkaraya</option>
					<option value="52">Balikpapan</option>				
					<option value="53">Bontang</option>
					<option value="54">Samarinda</option>
					<option value="55">Tarakan</option>
					<option value="56">Batam</option>
					<option value="57">Tanjungpinang</option>
					<option value="58">Bandar Lampung</option>
					<option value="59">Metro</option>
					<option value="60">Ternate</option>
					<option value="61">Tidore Kepulauan</option>
					<option value="62">Ambon</option>
					<option value="63">Tual</option>
					<option value="64">Bima</option>
					<option value="65">Mataram</option>
					<option value="66">Kupang</option>
					<option value="67">Sorong</option>
					<option value="68">Jayapura</option>
					<option value="69">Dumai</option>
					<option value="70">Pekanbaru</option>
					<option value="71">Makassar</option>
					<option value="72">Palopo</option>
					<option value="73">Parepare</option>
					<option value="74">Palu</option>
					<option value="75">Bau-Bau</option>
					<option value="76">Kendari</option>
					<option value="77">Bitung</option>
					<option value="78">Kotamobagu</option>
					<option value="79">Manado</option>
					<option value="80">Tomohon</option>
					<option value="81">Bukittinggi</option>
					<option value="82">Padang</option>
					<option value="83">Padangpanjang</option>
					<option value="84">Pariaman</option>
					<option value="85">Payakumbuh</option>
					<option value="86">Sawahlunto</option>
					<option value="87">Solok</option>
					<option value="88">Lubuklinggau</option>
					<option value="89">Pagaralam</option>
					<option value="90">Palembang</option>
					<option value="91">Prabumulih</option>					
					<option value="92">Binjai</option>
					<option value="93">Medan</option>
					<option value="94">Padang Sidempuan</option>
					<option value="95">Pematangsiantar</option>
					<option value="96">Sibolga</option>
					<option value="97">Tanjungbalai</option>
					<option value="98">Tebingtinggi</option>
					<option value="99">Mamuju</option>
					<option value="100">Yogyakarta</option>
					<option value="101">Lainnya</option>
				</select><br>
				<label class="registration-province">PROVINSI</label><br>
				<select class="provinsi" name="address[province_id]" required>
					<option value="">Nama Provinsi</option>
					<option value="1">Aceh</option>
					<option value="2">Bali</option>
					<option value="3">Bangka Belitung</option>
					<option value="4">Banten</option>
					<option value="5">Bengkulu</option>
					<option value="6">Gorontalo</option>
					<option value="7">Jakarta</option>
					<option value="8">Jambi</option>
					<option value="9">Jawa Barat</option>
					<option value="10">Jawa Tengah</option>
					<option value="11">Jawa Timur</option>
					<option value="12">Kalimantan Barat</option>
					<option value="13">Kalimantan Selatan</option>
					<option value="14">Kalimantan Tengah</option>
					<option value="15">Kalimantan Timur</option>
					<option value="16">Kalimantan Utara</option>
					<option value="17">Kepulauan Riau</option>
					<option value="18">Lampung</option>
					<option value="19">Maluku Utara</option>
					<option value="20">Maluku</option>					
					<option value="21">Nusa Tenggara Barat</option>
					<option value="22">Nusa Tenggara Timur</option>
					<option value="23">Papua Barat</option>
					<option value="24">Papua</option>
					<option value="25">Riau</option>
					<option value="26">Sulawesi Barat</option>
					<option value="27">Sulawesi Selatan</option>
					<option value="28">Sulawesi Tengah</option>
					<option value="29">Sulawesi Tenggara</option>
					<option value="30">Sulawesi Utara</option>
					<option value="31">Sumatera Barat</option>
					<option value="32">Sumatera Selatan</option>
					<option value="33">Sumatera Utara</option>
					<option value="34">Yogyakarta</option>
					<option value="35">Lainnya</option>
				</select><br>
				<label class="registration-datebirth">TANGGAL LAHIR</label><br>
				<input class="datebirth" type="date" name="date_birth" required><br>
				<label class="registration-profession">PROFESI</label><br>
				<textarea class="profession" name="profession" type="text" placeholder="Profesimu" cols="100" rows="1" required></textarea><br>
				<label class="registration-passion">PASSION</label><br>
				<select class="passion" name="passion[id_passion]" required>
					<option value="">Passion</option>
					<option value="1">Videografi</option>
					<option value="2">Fotografi</option>
					<option value="3">Animasi</option>
					<option value="4">Musik</option>
					<option value="5">Bisnis</option>
					<option value="6">lainnya</option>
				</select><br>
				<label class="registration-phone">NO. TELEPON</label><br>
				<textarea class="telepon" name="phone" type="text" placeholder="Nomor Telepon" cols="100" rows="1" required></textarea><br>
				<label class="registration-email">EMAIL</label><br>
				<textarea class= "email" name="email" type="text" placeholder="Alamat Email" cols="100" rows="1" required></textarea><br>
				<label class="registration-password">KATA SANDI</label><br>
				<textarea class="password" id="registerpassword" name="password" type="text" placeholder="Kata Sandi" cols="100" rows="1" onclick="validasi()" onchange="validasi()" required></textarea><br>
				<textarea name="role[id]" type="number" placeholder="Role_ID" cols="10" rows="1" style="display:none">1</textarea>
				<textarea name="role[name]" type="text" placeholder="Role_Name" cols="20" rows="1" style="display:none">User</textarea>
				<div class="buttonregistration">
				<div id="alertRegSuccess" class="alert alert-success hide">
		  			<strong>Sukses.</strong> Anda berhasil terdaftar. Dan periksa Email anda.
				</div>
				<div id="alertRegFailed" class="alert alert-danger hide">
		  			<strong>Maaf,</strong> anda belum berhasil terdaftar. Harap periksa kembali data pribadi anda.
				</div>
				<button id="registrationsubmit" type="submit" class="registrationnow">SIGN UP</button>
			</div>
		</form>
		<div class="registerpage">
		</div>
	{{!-- </div> --}}
</div>

{{!-- style="display:none" --}}