<div class="wrapuser">
	<h2>My teammates are the best.</h2>
<div class="user" id="user"></div>
<div id="userresult"></div>
{{!-- <div id="profileuserresult"></div> --}}
{{!-- 	<div class="detailuser">
		<img src="/../../img/angka8.jpg">
		<div class="wrapprofile">
			<div class="nameuser">WahyudyCaesar</div>
			<div class="proffesionuser"><span>Job : </span>Programmer</div>
			<div class="passionuser"><span>Passion : </span>Fotografi</div>
			<div class="addressuser"><span>Address : </span>Tangerang - Banten</div>
			<div class="iduser"><span>ID : </span>DOES05.65560.6505</div>
		</div>
	</div> --}}
</div>