<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
    <script src="/js/back.js"></script>
</head>
<body style="background-color:black;">

 	{{{body}}}
  
 	<script src="/components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/components/jquery-validation/dist/jquery.validate.min.js"></script>

	<script type="text/javascript" src="/js/login.js"></script>
  <script type="text/javascript" src="/js/register.js"></script>
  </body>
</html>
