<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>
</head>
<body>
<div class="wrapheader">
  <div class="mainheader">
    <a href="/home"><div class="maintitle">
      <h1>Erix Soekamti</h1>
      <h2>Musisi</h2>
    </div></a>
  </div>
</div>
  <div class="mainnavbar">
    <ul id="listMenu">
      <li><a href="/home">HOME</a></li>
      <li><a href="/user" >USER</a></li>
      <li><a href="#">FRESH NEWS</a></li>
      <li><a href="#">LINKS</a></li>
      <li><a href="#">CONTACTS</a></li>
    </ul>
    <button><a id="logout" href="/logout">logout</a></button>
  </div>
  {{{body}}}

  <div class="homecontact">
    <div class="wraphomecontact">
      <div class="contactaddress">
        Jl. Cempaka No 11 Perum Baciro Baru, Yogyakarta <br> +62-818-468932
      </div>
      <div class="copyright">
        by WhyCaesar @2017 | PRIVACY POLICY
      </div>
      <div class="contactmedsos">
            <div class="sosmed">
                        <div class="wrapfb">    
                            <div class="fb">
                                <a href="https://www.facebook.com/wahyudy.caesar" target="_blank"><img src="/../img/fb.png" alt="www.facebook.com" style="width:30px;height:30px;"></a>
                            </div>
                        </div>
                        <div class="wraptw">
                            <div class="tw">
                                <a href="https://twitter.com/wahyudycaesarr" target="_blank"><img src="/../img/tw.png" alt="www.twiter.com" style="width:30px;height:30px;"></a>
                            </div>
                        </div>
                        <div class="wrappin">
                            <div class="pin">
                                <a href="https://id.pinterest.com/wahyudycaesar/" target="_blank"><img src="/../img/pin.png" alt="www.pinterest.com" style="width:30px;height:30px;"></a>
                            </div>
                        </div>
                        <div class="wrapig">
                            <div class="ig">
                                <a href="https://www.instagram.com/wahyudycaesar/" target="_blank"><img src="/../img/ig.png" alt="www.instagram.com" style="width:30px;height:30px;"></a>
                            </div>
                        </div>
                    </div>
      </div>
      <div class="buttonhome">
        <a href="/home"><img src="/../img/home.png" alt="home"></a>
      </div>
    </div>
  </div>
  <div id="map"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxqdrX-cbAWHpQMFPI9_tMEMIIOZF2WQc&callback=initMap"></script>
  <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/logout.js"></script>
  {{{scripts}}}
  </body>
</html>
